body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.header{
    background-color: black;
}

.heading{
    display: inline-flex;
    text-align: left;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding: 4px;
}

.header-img{
    height: 50px;
    width: 50px;
}

.sects{
    display: grid;
    grid-template-columns: 17% 83%;
}

.sidebar{
    padding: 15px;
}

.sidebar li{
    margin-bottom: 10px;
}

.sbody{
    background-color: #E2E5DE;
    padding: 20px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.menu li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

a:hover{
    color: red;
}

.body-content{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

form{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input{
    display: flex;
    width: calc(100% / 2 - 30px);
    flex-direction: column;
    margin: 15px;
}

.input label{
    margin-top: 5px;
    margin-bottom: 5px;
}

.input input{
    padding: 10px;
}

#role{
    padding: 10px;
}

#saveuser{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    margin-left: 995px;
}
#saveuser:hover{
    background-color: rgb(84, 84, 240);
}
